.container {
    max-width: 600px;
  }
  
  h1 {
    text-align: center;
    }
  
  p.balance {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    color: #028d20;
  }
  
  form {
    margin-top: 60px;
  }
  
  label {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 20px;
    width: 150px;
    border-radius: 50px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 30px ;
    border-radius: 50px;
    background-color: #007bff;
    cursor: pointer;
    }
  
  button[type="submit"]:hover {
    background-color: #028d20;
  }

  h3{
    vertical-align: middle;
    color: #ffffff;
  }
  
  p.successful{
    text-align: center;
    padding-bottom: 30px;
    color:#028d20;
  }

  h2{
    padding-left: 40px;
  }

  .transfer-history {
    list-style: none;
    padding-top: 40px;
    padding-right: 250px;
    padding-bottom: 10px;
    padding-left: 250px;
    margin: 0;
  }
  
  .transfer-history li {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .transfer-history li p {
    margin: 0;
  }
  
  .transfer-history li p:first-child {
    font-weight: bold;
  }