/* fontes */
@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
  }
  
  /* cores */
  :root {
    --primary-color: #004a9c;
    --secondary-color: #ffffff;
    --accent-color: #ffab00;
    --text-color: #333333;
  }
  
  .home-header {
    background-color: #9c9c9c;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .home-header h1 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
  }
  
  .home-header p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
  }
  

  .main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .main-content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 10;
    padding: 0;
  }
  
  .main-content p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0;
  }
  
  .main-content .container {
    display: center;
    margin-top: -1rem;
    margin-left: 6rem;
  }
  